@import '_mixins';
@import '_reset';
@import '_animations';


.sky{
    position: relative;
    width: 100vw;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(18,169,224,1) 0%, rgba(113,206,239,1) 59%, rgba(252,252,252,1) 100%);

    &::before{
        content: '';
        position: absolute;
        top: 20px;
        left: 40%;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-image: radial-gradient(ellipse at center, rgba(245,239,208,1) 0%, rgba(250,231,128,1) 54%, rgba(246,214,92,1) 74%, rgba(240,191,45,1) 100%);
        color: transparent;
    }
}

.cloud{
    top: 80px;
    left: 0vw;
    @include cloud($size: m,$color: rgb(255, 255, 255));
    animation-name: moveX;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &--s{
        top: 0px;
        left: -10vw;
        @include cloud($size: s,$color: #fff);
        animation-name: moveX;
        animation-duration: 40s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 3s;
    
    }
}


.sea{
    position: relative;
    width: 100vw;
    height: calc(100vh - 200px);
    background-image: linear-gradient(180deg, rgba(21,200,255,1) 0%, rgba(3,54,150,1) 100%);

    &__sand{
        position: absolute;
        bottom: 0px;
        width: 100vw;
        height: 100px;
        background:  linear-gradient(to bottom, rgba(7,89,175,1) 0%, rgb(48, 130, 197) 10%, rgba(237,187,35,1) 24%, rgba(230,204,71,1) 41%, rgba(240,186,24,1) 58%, rgba(158,118,38,1) 100%);
        
    }
}

.blowfish{
    position: absolute;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image:  linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,233,113,1) 100%);

    &__eye{
        position: absolute;
        right: -5px;
        top: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;

        &::before{
            content: '';
            position: absolute;
            right: 1px;
            top: 1px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #000;
        }
    }
    &__mouth{
        position: absolute;
        right: 1px;
        bottom: 17px;
        width: 5px;
        height: 1px;
        border-radius: 50%;
        background-color: rgb(226, 97, 37);
    }
    &__bubbles{
        position: absolute;
        right: -30px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(21,200,255,1) 87%, rgba(255,255,255,1) 100%);
    }
}